.notes {
    color: black;
    height: 400px;
    width: 300px;
    overflow: auto;
    border: 1px solid white;
    border-radius: 5px;
    background-image: url("/var/www/html/Apotheose/projet-littleroll20_front/my-ami-dice/src/assets/images/parchemin.jpg");
}