#pv .bar {
    width: 3em;
    min-width: 0;
}
#mp .bar {
    width: 3em;
    min-width: 0;
}

#pv{
    width: 10em;
}

#mp{
    width: 10em;
}

#pv.ui.progress{
    background-color: rgb(108, 0, 0)
} 

#mp.ui.progress{
    background-color: rgb(1, 16, 114)
} 

.barreStatContainer{
    display: flex;
    flex-direction: row;
}

