.header {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color:black;
    color: white;

    &-container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* .header {
    background-color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-button {
    color: #fff;
    background-color: #1f8b9d;
    border-color: #1f8b9d;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    margin-right: 20px;
}

.header-container-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header-container-buttonconnect {
    background-color: #ffb900;
    color: #2f3d4a;
    border-radius: 25px;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
} */